@import '_fonts.css';
@import '_animations.css';
@import '_glitches.css';

:root {
    --font-heading: 'Emelind', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;
}

.v-layout {
    font-family: var(--font-body) !important;
}

.v-layout h1,
.v-layout h2,
.v-layout h3,
.v-layout h4,
.v-layout h5,
.v-layout h6 {
    font-family: var(--font-heading) !important;
}

pre.shiki.catppuccin-macchiato {
    background-color: #24273a;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media (min-width: 1920px) {
    .v-container:not(.v-container--fluid) {
        max-width: 1400px !important;
    }
}

.v-toolbar .v-btn--active {
    color: rgb(var(--v-theme-primary)) !important;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}
