#articles, #projects {
    padding: 6rem var(--landing-padding);

    h1 {
        color: var(--title-color)
    }

    .content {
        max-width: 1200px;
        margin: auto;
    }

    .tagList {
        @apply w-1/2 mx-auto my-8 flex justify-center;
    }

    .tagList,
    .tags {
        span {
            @apply transition-colors;
            color: var(--font-color);

            &.current,
            &:not(.separator):hover {
                color: var(--purple);
            }
        }
    }

    .projectsList, .articlesList {
        max-width: calc(100% - 40px);
    }

    .articlesList {
        width: 800px;
    }

    .projectsList {
        width: 1000px;
    }
}