@font-face {
    font-family: 'Emelind';
    src: url('/fonts/Emelind.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
