
/* nav {
    padding: 0.875rem;
    background-color: #000;
    border-bottom-width: 4px;
    border-color: var(--purple);

    .brand span {
        color: #fff;
    }
} */

/* form {
    .input, .textarea {
        margin-bottom: 1.25rem;

        &.error label {
            color: red;
        }

        label {
            position: absolute;
            color: var(--font-color);
            top: 0.75rem;
            z-index: –1;
            transform-origin: 0;
            transition-duration: 300ms;
        }
    }

    .input {
        position: relative;
        z-index: 0;
        margin-bottom: 0.5rem;

        &.error input {
            border-color: red;
        }

        input {
            @apply block w-full appearance-none bg-transparent;
            border-color: rgb(55 65 81);
            background-color: transparent;
            padding: 1rem 0.625rem 0.625rem 0.625rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            color: var(--title-color);
            border-bottom-width: 2px;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 300ms;
            
            &:focus {
                @apply outline-none ring-0;
                border-color: var(--purple);
            }
        }
    }

    .textarea {
        position: relative;

        &.error textarea {
            border-color: red;
        }

        textarea {
            resize: none;
            margin-top: 0px;
            display: block;
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-width: 0px;
            border-bottom-width: 0px;
            border-bottom-width: 2px;
            --tw-border-opacity: 1;
            border-color: rgb(55, 65, 81);
            background-color: transparent;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0.75rem;
            padding-bottom: 0.5rem;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            
            &:focus {
                @apply outline-none ring-0 border-black;
                border-color: var(--purple);
            }
        }
    }

    
    input, textarea {
        &:focus, &:not(:placeholder-shown) {
            & ~ label {
                --tw-translate-x: 0;
                --tw-translate-y: 0;
                --tw-rotate: 0;
                --tw-skew-x: 0;
                --tw-skew-y: 0;
                transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
                    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
                --tw-scale-x: 0.75;
                --tw-scale-y: 0.75;
                --tw-translate-y: -1.5rem;
                color: var(--purple);
            }
        }

        &:focus {
            left: 0px;
        }
    }
} */

.theme {
    color: white;
}
