@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

footer {
    background-color: var(--bg-color);

    .brand {
        @apply self-center text-2xl font-semibold whitespace-nowrap;
        color: var(--title-color);
    }
}

// self-center text-2xl font-semibold whitespace-nowrap