#index nav {
    position: fixed;
    width: 100vw;
    z-index: 1;
    margin-top: 0;
    transition: margin 0.5s ease-in-out;

    &:not(.display) {
        margin-top: -102px;
    }
}

#about .prose p:last-of-type::after {
    @include cursor;
}

#viewport, #about, #featured, #contact {
    .content {
        max-width: 1200px;
        margin: auto;
        opacity: 0;
    }

    &.fade-in {
        .content {
            animation: slide-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        }
    }
}

#featured {
    background-color: var(--bg-color);
    min-height: var(--landing-min-height);
    padding: 6rem var(--landing-padding);

    .articles, .projects {
        width: 100%;

        @media (min-width: 768px) {
            display: flex;
            column-gap: 20px;

            &:first-of-type {
                margin-bottom: 100px;
            }
        }
    
        .title {
            @apply flex flex-col justify-between;
            color: var(--title-color);

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }

            h2 {
                font-size: clamp(2rem, 0.75rem + 4vw, 3rem);
                @apply uppercase text-right leading-none mb-2 md:mb-0;
            }
        }

        .list {
            display: flex;
            column-gap: 20px;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            @media (min-width: 769px) and (max-width: 1200px) {
                flex-flow: row wrap;
            }
        }
    }
}