html:root {
    --bg-color: #121212;
    --bg-color-alt: #111827;
    --landing-padding: 2rem;
    --landing-min-height: 100vh;

    --cursor-color: white;

    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-vertical: 5px;
    --gap-horizontal: 10px;
    --time-anim: 4s;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk-Regular.ttf');
}

@font-face {
    font-family: 'Emelind';
    src: url('/fonts/Emelind.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.ttf');
}

.font-mono {
    font-family: 'JetBrains Mono';
    font-variant-ligatures: common-ligatures;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Emelind', 'sans-serif';
}

h1 {
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 3.5rem);
}

.font-mono {
    font-family: 'JetBrains Mono';
    font-variant-ligatures: common-ligatures;
}

@mixin cursor {
    content: '▮';
    color: var(--cursor-color);
    display: inline-block;
    margin-left: 5px;
    font-size: 25px;
    animation: blink .6s linear infinite alternate;
}