@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

:root {
    --purple: hsl(274, 93%, 63%);
}

html {
    scroll-behavior: smooth;
}

.font-mono {
    font-family: 'JetBrainsMono-Regular';
    font-variant-ligatures: common-ligatures;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Emelind', sans-serif;
}

h1 {
    font-size: clamp(2.5rem, 2.1479rem + 1.1268vw, 3.5rem);
}

.font-mono {
    font-family: 'JetBrainsMono-Regular';
    font-variant-ligatures: common-ligatures;
}

.slide-in {
    animation: slide-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@mixin cursor {
    content: '▮';
    color: var(--cursor-color);
    display: inline-block;
    margin-left: 5px;
    font-size: 25px;
    animation: blink 0.6s linear infinite alternate;
}

@keyframes slide-in {
    0% {
        padding-top: 150px;
        opacity: 0;
    }

    100% {
        padding-top: 0;
        opacity: 1;
    }
}
